<div class="flex items-center rounded-[2.5rem] px-16 py-12 bg-gray-800">
  <div id="<%= dom_id book %>">
    <p class="my-5">
      <strong class="block text-white text-2xl mb-1">Título: <%= book.title %></strong>
    </p>
    <hr>
    <p class="my-5">
      <strong class="block text-white text-2xl font-medium mb-1">Autor: <%= book.author.name %></strong>
    </p>
    <hr>
    <p class="my-5">
      <strong class="block text-white text-2xl font-medium mb-1">Gênero: <%= book.genre %></strong>
    </p>
    <hr>
    <p class="my-5">
      <strong class="block text-white text-2xl font-medium mb-1">Data de publicação: <%= book.publication_date %></strong>
    </p>
    <hr>
    <p class="my-5">
      <strong class="block  text-white text-2xl font-medium mb-1">ISBN: <%= book.isbn %></strong>
    </p>
    </div>
  <div class="my-5 ml-6 border">
    <strong class="block font-medium mb-1"></strong>
    <% if book.photo.present? && book.photo.attached? %>
      <%= image_tag book.photo.variant(resize_to_fill: [150, 200]) %>
    <% else %>
      Sem imagem
    <% end %>
</div>


  <% if action_name != "show" %>
    <%= link_to "Mostrar livro", book, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Editar livro", edit_book_path(book), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
